[submodule "themes/noteworthy"]
	path = themes/noteworthy
	url = https://github.com/LeLocTai/hugo-theme-noteworthy.git
[submodule "themes/hugo-PaperMod"]
	path = themes/hugo-PaperMod
	url = https://github.com/LeLocTai/hugo-PaperMod.git
