:root {
	--gap: 16px;
}

body {
	font-size  : 16px;
	line-height: 1.5;
}

.post-content video {
	border-radius: var(--radius);
	max-width    : 100%;
}

.post-content img {
	margin: auto
}

.post-content .highlight,
.post-content pre {
	tab-size: 4;
}

.post-content code {
	font-family: monospace;
	font-size  : 14px;
}

.post-content pre code {
	border-radius: var(--radius);
	padding      : var(--gap);
}

::-webkit-scrollbar {
	width : initial;
	height: initial;
}

::-webkit-scrollbar-thumb {
	background   : initial;
	border-radius: initial;
}

::-webkit-scrollbar-track {
	background: initial;
}